.nice-select {
  display: none !important;
}
#returnFinalSix {
  display: none;
}
#returnFinalValue {
  display: flex !important;
  border: 2px solid #0c266c6e;
  align-items: center;
  font-weight: 600;
  color: #0c266c;
  border-radius: 10px;
  position: relative;
  width: 210px;
  left: 20px;
}
option.banks_from_where_we_transfer_money {
  min-width: 500px !important;
  padding: 0 px 10px;
}
#banks_list_from_where_we_transfer_money {
  display: flex !important;
  border: 2px solid #0c266c76;
  font-weight: 600;
  align-items: center;
  color: #0c266c;
  border-radius: 10px;
  position: relative;
  width: 210px;
  left: 20px;
}

/* form section start */
body.active {
  position: relative;
  overflow: hidden;
}
#sectionForm {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  background: white;
  display: flex;
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 1000 !important;
}
.text_form {
  width: 300px;
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  background: white;
  transition: 1s ease;
}
.form_name {
  font-size: 24px;
  line-height: 25px;
  text-align: center;
  margin: 10px auto;
}
.give_cash,
.get_cash,
.contacts {
  margin: 15px 35px;
}
.contacts_name {
  font-size: 20px;
}
#btnOrder {
  background: none;
  font-size: 24px;
  margin-left: 20px;
  /* margin: 10px 0px; */
}

#WhatsappInput,
#telegramInput{
  border: 1px solid #0c266c;
  height: 40px;
  width: 200px;
  margin: 5px 0px;
}

/* form section end  */
@media (max-width: 991px) {
  #returnFinalValue {
    font-size: 14px;
    width: 175px;
    left: 15px;
  }

  #banks_list_from_where_we_transfer_money {
    font-size: 14px;
    width: 175px;
    left: 15px;
  }
}
@media (max-width: 766px) {
  #returnFinalValue {
    width: 210px;
    left: 15px;
  }

  #banks_list_from_where_we_transfer_money {
    width: 210px;
    left: 15px;
  }
}
@media (max-width: 430px) {
  #returnFinalValue {
    font-size: 14px;
    width: 175px;
    left: 15px;
  }

  #banks_list_from_where_we_transfer_money {
    font-size: 14px;
    width: 175px;
    left: 15px;
  }
}
